body{
    margin: 0;
    padding: 0;
    background-image: url(Img/fondo.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
header div{
    margin-right: 40rem;
}
header div img{
    height: 3vh;
    margin-top: 45px;
}

header h3, header span, #hero h1:first-child, #hero span:first-child, #hero span:last-child, .memorable p, .memorable h5, .info p, .info h5, .more-info h3, .info-text p, .info-text h4, .more-info h4, .info-text h5{
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}

.info h5, .info-text h4, .info-text h5, .memorable h5{
    font-size: 1rem;
    
}

.info-text h5{
    font-weight: 300;
}

.more-info h4{
    font-size: 2rem;
}

.info-text p{
    font-size: 1.7rem;
}

.info p, .more-info h4, .more-info h3{
    padding-left: 2rem;
}

.info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.arrow-animation{
    margin-left: .5rem;
    transition: transform .3s;
}

.arrow-animation:hover{
    transform: translate(1rem, 0);
}
header span, #hero span:first-child, #hero span:last-child, .memorable span, .info span, .more-info span, .info-text span{
    font-family: serif;
   
}

header a, .boton-1, .boton-2, .boton-3, .boton-4, footer > div > div:last-child .menu, .opinion-2 a, .div-img a, .rain-text a, .kim-info a, .card a, .collaboration a{
    text-decoration: none;
}

#hero div{
    padding: 3.7rem;
}
#hero h1:first-child, #hero h1:last-child, #hero span:first-child, #hero span:last-child, .rain-text div:first-child h2, .rain-text div:first-child span,  .rain-text div:nth-child(7) h2,  .rain-text div:nth-child(7) span, .contact-info h3, .contact-info span{
    font-size: 6rem;
}

#hero h1:first-child{
    margin-bottom: 0;
    margin-left: 170px;
    line-height: 0;
    
}
 #hero h1:last-child{
    text-align: right;
    margin-right: 170px;
    margin-bottom: 0;
    line-height: 11rem;
    
}

.grid{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.info, .more-info{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.upper-box{
    border: solid 1px black;
    border-top: none;
    width: fit-content;
    padding: 3rem .5rem 0;
    position: relative;
    bottom: 15.2rem;
    left: 2rem;
}

.memorable{
    width: 300rem;
}

.memorable a{
    border: solid 1px black;
    border-left: none;
    padding: .2rem .5rem;
}
.mailing{
    background: transparent;
    border: solid 1px black;
    outline: none;
    padding: .44rem .5rem;
}
.info > div{
    position: relative;
    left: 39.4rem;
    width: 15rem;
    border: solid 1px black;
    border-bottom: none;
    padding: 1rem 3rem;
}
.more-img img{
    width: 100%;
    height: 100%;
}

.hamburguer-menu{
    display: none;
}

.hamb{
    cursor: pointer;
    position: relative;
    padding: 1rem 0;
    z-index: 2;
}
.hamb-line{
    display: block;
    background-color: black;
    position: relative;
    width: 1.5rem;
    height: 3px;
}

.hamb-line::after, .hamb-line::before{
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hamb-line::after{
    top: .5rem;
}
.hamb-line::before{
    bottom: .5rem;
}

.full-menu{
    width: 100%;
    position: absolute;
    top: 0;
    left: -95rem;
    bottom: 0;
    z-index: 1;
    transition: left .3s;
}

.hamburguer-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}
.hamburguer-menu:checked ~ .hamb .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}

.hamburguer-menu:checked ~ .hamb .hamb-line{
    background-color: transparent;
}
.hamburguer-menu:checked ~ .full-menu{
    left: 0;
    transition: left .3s;

}
label, ::placeholder{
    font-size: 14px;
    font-family: sans-serif;

    
    
}

.end-card{
    border-bottom: none;
}
.editing div:first-child{
    margin-bottom: 24px;
}
.monograph-image, .monograph-circles, .brand{
    border: solid 1px black;
    border-right: none;
}
.monograph-image img, .monograph-circles img{
   width: 56vw;
   margin-bottom: -5px;
}


.opinion, .opinion-2{
    text-align: center;
    border: solid 1px black;
    border-right: none;
}
.opinion-2 > div, .opinion > div{
    margin-top: 80px;
}
.opinion-2, .monograph-circles, .monograph-image{
    border-top: none ;
    border-bottom: none;
}

.opinion h3, .opinion span, .opinion-2 h3, .opinion-2 span{
    font-size: 28px;
}

.opinion h4, .opinion p, .opinion-2 h4, .opinion-2 p, .card > p, .collaboration p{
    font-size: 18px;
    margin: 0;
}

.kim-info h4, .kim-info p, .kim-info span, .texto-img p, .contact-info p{
    font-size: 18px;
}

.opinion p, .opinion-2 p{
    font-weight: 300;
    
}
.opinion h4, .opinion-2 h4{
    font-weight: 400;
}

.opinion h3{
    margin-top: 50px;
}
.opinion h4{
    margin-top: 60px;
}
.opinion-2 {
    border-bottom: none

}

.opinion-2 p{
    border-bottom: solid 1px black;
    width: fit-content;
    margin-left: 365px;
    transition: transform 0.1s linear ;
}

.copywriting{
    border-top: none;
}

footer{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.footer-end{
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
}

footer ul{
    display: flex;

}

footer .mono-image{
    width: 80%;
    border-bottom: solid 1px black;
    margin-left: 160px;
    margin-top: 125px;
    padding-bottom: 70px;
}

footer > div > div > div img{
    width: 20px;
    
}

footer li{
    margin: 0 10px;
    list-style: none;
    color: black;
    font-weight: 400;
    border-bottom: solid 1px black;
    transition: transform 0.1s linear ;
    
}



footer .div-img p{
    border: solid 1px black;
    border-radius: 4px;
    color: black;
    padding: 4px 4px 2px 21px ;
    transition: background-color 0.2s ;
    width: fit-content;

}


.logo-rayo p{
    font-size: 12px;
}

footer > div > div:last-child li:hover, .opinion-2 p:hover, .kim-info p:last-child:hover, .collaboration .text-link:hover{
    border-bottom: none;
    transform: translate(0, -6px);
}

footer .div-img p:hover{
    background-color: gray;
    width: fit-content;
}
.copyright{
    margin-right: 2.5rem;
}
.union{
    display: flex;
}

.div-img a{
    display: flex;
}
.div-img{
    display: flex;
    align-items: center;
}

.div-img img{
    margin-right: -21px;
    z-index: 1;
    width: 8%;
    height: 5%;
    margin-top: 4px;
}

.monograph-text img:hover, .editing img:hover, .copywriting img:hover, .brand img:hover, .rain-text img:hover, form div img:hover{
    transform: translate(10px, 0);
}

.about-fondo{
    background-image: url(Img/about-fondo.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.rain-text{
    text-align: center;
}

.vertical-line{
    height: 500px;
    width: 1px;
    background-color: black;
    margin: auto;
}

.rain-text div:nth-child(3) h3, .rain-text div:nth-child(3) span, .rain-text div:nth-child(5) h3, .rain-text div:nth-child(5) span,  .rain-text div:nth-child(9) h3,  .rain-text div:nth-child(9) span{
    font-size: 48px;
}

.rain-text > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rain-text div:nth-child(9) h3{
    margin: 0;
}

.rain-text img{
    margin-bottom: 23px;
    margin-top: -39px;
    margin-left: 34px;
}

.rain-text p{
    margin-right: 35px;
    margin-top: 80px;
    border-bottom: solid 1px black;
}

.linea{
    height: 1px;
    width: 75%;
    background-color: black;
    margin: auto;
    margin-top: 80px;
}

.kim-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kim-info p:last-child{
    transition: transform 0.1s linear;
    border-bottom: solid 1px black;
    width: fit-content;
}

.kim-info div:first-child{
    margin-top: 100px;
}

.kim-info p, .kim-info span, .kim-info h4{
    font-weight: 400;
}

.kim-info span{
    font-weight: 600;
}

.services-fondo{
    background-image: url(Img/services-fondo.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.grid-2{
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    

}

.editing-services{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.copywriting-services{
    grid-row: 1 / 2;
    grid-column: 3 / 5;
}

.brand-services{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.collaboration{
    grid-row: 2 / 3;
    grid-column: 3 / 5 ;
}

.mono-grid-img{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.texto-img{
    display: flex;
    flex-direction: column;
}

.texto-img img{
    width: 26px;
    margin-bottom: -5px;
}


.texto-img p{
    margin-left: 31px;
    font-weight: 300;
}

.card, .collaboration, .mono-grid-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}

.mono-grid-img img{
    filter: invert();
}
.mono-grid-img{
    border-bottom: none;
    margin-bottom: 102px;
}

.card h3, .collaboration h3{
    font-weight: 400;
    font-size: 48px;
    margin: 0;
    margin-left: 23px;
    margin-bottom: 21px;
}
.card p{
    margin-top: -28px;
    padding: 26px;
}
.card > p, .collaboration p{
    font-weight: 400;
}

.kim-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copywriting-services, .collaboration{
    border-right: none;
}

.collaboration p{
    margin-bottom: 30px;
    margin-left: 30px;
}

.collaboration h3{
    margin-left: 30px;
    margin-bottom: 20px;
}
.collaboration .text-link{
    border-bottom: solid 1px black;
    color: black;
    transition: transform 0.1s linear;
}

.texto-img p{
    padding: 3px;
}

.texto-img a{
    margin-left: 24px;
}

.fondo-contact{
    background-image: url(Img/fondo-contact.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.contact-info h3{
    margin-bottom: 0;
}

.contact-info div{
    margin: 0 .5rem ;
}

.transparente{
    background-color: rgb(0, 0, 0, 0);
    border: solid 1px black;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    height: 2rem;
    width: 100%;
    outline: none;
}

::placeholder{
    color: rgb(51, 48, 48);
    
}


label{
    font-weight: 500;
}

.enviar{
    background-color: rgb(0, 0, 0, 0);
    border-bottom: solid 1px black;
    margin-top: 0;
    padding-right: 6.5rem
}

form div{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
form{
    margin: 8rem;
}
.transparente:focus{
    border: solid 1px rgb(65, 152, 233);
    
}

form div img{
    margin-left: -6rem;
}

.contact-info > div:first-child{
    margin-bottom: auto;
}

label{
    display: block;
    margin-bottom: -.6rem;
}